.btn-row {
    height: 100px;
}

.btn-tile {
    height: 100px;
    font-size: 250%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black !important;
    color: black;
    text-transform: uppercase;
}

.btn-tile:disabled {
    opacity: 100;
}

#inner-button-container {
    padding: 0;
    border: 1px solid black;
    width: 500px;
}
